.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    position:sticky;
    top: 0;
    left: 0;
    background-color: var(--black);
    z-index: 100;
}
.logo{
    font-size: 1.5rem;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.link{
    color: var(--grey);
    font-weight: 800;
}
.link:hover{
    color: var(--white);
    transition: all 0.3s;
}

