.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    position:sticky;
    top: 0;
    left: 0;
    background-color: var(--black);
    
}
.logo{
    font-size: 1.5rem;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.link{
    color: var(--grey);
    font-weight: 800;
}
.link:hover{
    color: var(--white);
    transition: all 0.3s;
}

.mobile-drawer{
    display: none;
}

@media only screen and (max-width: 800px) {
  .link{
    display: none;
  }
  .logo{
    font-size: 1rem;
    transition: all 0.3s;
  }
  .mobile-drawer{
    display: block;
  }
  .menu{
    width: 40vh;
    background-color: var(--black);
    height: 100vh;
    padding: 1.5rem;
  }
}
/* hamburber menu */
.barlink{
    color: var(--grey);
    font-weight: 800;
   
   
}
.barlink:hover{
    color: var(--white);
    transition: all 0.3s;
}

.sidebar{
    text-decoration: none;
}



