.flex-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 3rem;
}

.tracker-crypto-heading,.real-time-heading{
         font-size: 6.5rem;
         margin: 0;
}

.tracker-crypto-heading{
    color: var(--white);
     -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);

}
.tracker-crypto-heading:hover{
    color: var(--black);
  -webkit-text-stroke-color: var(--white);
  transition: all 0.3s;

}
.real-time-heading{
    color: var(--blue);
}
.info-text{
    font-size: 1rem;
    color: var(--grey);
}
.flex-btn{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
}

.phone-container{
    width: 50%;
    position: relative;
    padding: 1rem;
}
.phone-imge{
    position: absolute;
    z-index:100;
    min-width: 300px;
    width: 50%;
    right: 0;

}
.gradient-img{
    position:absolute;
    min-width: 260px;
    top: 4rem;
    right: 0;
    width: 40%;
}

@media only screen and (max-width: 1250px) {
 .tracker-crypto-heading,.real-time-heading{
         font-size: 5rem;
         margin: 0;
}

}
@media only screen and (max-width: 1000px) {

     .phone-imge{
    position: absolute;
    z-index:100;
    min-width: 250px;

}
.gradient-img{
    position:absolute;
    min-width: 200px;
   
}
}
@media only screen and (max-width: 800px) {

  .flex-info{
    flex-direction: column;
  }
  .phone-container{
    margin:auto;
    display: block;
    margin-top: 3rem;
  }
   .phone-imge{
     left: 4rem;
}
.gradient-img{
    left: 20%;
}
.left-component{
    width: 100%;

}
.tracker-crypto-heading{
       -webkit-text-stroke-width: 1px;
}
.tracker-crypto-heading,
.real-time-heading{
         font-size: 3rem;
         text-align: center;
}
.info-text{
    text-align: center;
}
.flex-btn{
    justify-content: center;
}
}
/* 600 */
@media only screen and (max-width: 800px) {

  .phone-container{
    width: 100%;
    position: relative;
    padding: 0;
    margin-top: 2rem;
    height: 320px;
  }

  .phone-imge{
    position: absolute;
    width: 220px;
    min-width: unset;
    left: 20%;
    top: 0;
    transform: translateX(-50%);
  }

  .gradient-img{
    position: absolute;
    width: 180px;
    min-width: unset;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
  }
}

