.flex-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 3rem;
}

.tracker-crypto-heading,.real-time-heading{
         font-size: 6.5rem;
         margin: 0;
}

.tracker-crypto-heading{
    color: var(--white);
     -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);

}
.tracker-crypto-heading:hover{
    color: var(--black);
  -webkit-text-stroke-color: var(--white);
  transition: all 0.3s;

}
.real-time-heading{
    color: var(--blue);
}
.info-text{
    font-size: 1rem;
    color: var(--grey);
}
.flex-btn{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
}