@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
   --white:#fff;
   --black:#111;
   --blue:#3a80e9; 
   --grey:#888;
   --darkgrey:#1b1b1b;
   --green:#61c96f;
   --red:#f94141;
}

html{
  scroll-behavior: smooth;
}

body{
    margin: 0;
    -webkit-font-smoothing: antailiased;
    -mox-osx-font-smoothing: grayscale;
    background-color: var(--black);
    color: var(--white);
    font-family: "Inter", sans-serif;
   
}

::selection{
    background-color: var(--blue);
    color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background:var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 0.3rem;
  
}

.navlink{
    color: var(--white) !important;
    text-decoration: none ;
}
.menu{
   text-decoration: none !important;
}


img{
  -webkit-user-drag: none;
  -khtml-user-drag:none;
  -moz-user-drag:none;
  -o-user-drag:none;
}

.grey-wrapper{
display: block;
width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  /* padding: 0rem 0.5rem; */
  padding: 1rem 1rem;
  border-radius: 0.8rem;

}

.grey-wrapper h2,p{
margin: 1rem 0rem;
}

.coins-days-flex{
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: 1.5rem;
  align-items: center;
}