.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem  3rem;
    color: var(--grey);
    width: 80%;
    background-color: var(--darkgrey);
   margin: 1rem;
   border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.search-flex input{
    width: 100%;
    font-family: "Inter";
     background-color: var(--darkgrey);
     font-size: 1.2rem;
     color: var(--grey);
     border: none;
}

.search-flex input:focus{
    outline: none;
}